body {
  font-family: fantasy;
  color: rebeccapurple;
  background-image: url('https://www.supermarketperimeter.com/ext/resources/2023/03/14/AdobeStock_382774869.jpeg?height=667&t=1678808501&width=1080');
  background-size: cover;
}

header {
  margin: 0 auto;
  border: 4px solid lightcyan;
  border-radius: 15px;
  display: block;
  text-align: center;
  background-color: pink;
  align-items: right;
  padding: 5px;
  width: 400px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  padding-bottom: 0%;
  align-items: center;
}

p {
  margin-top: 0;
  display: block;
  text-align: center;
}

header p {
  font-family: cursive;
  text-align: right;
}

li p {
  margin: 5px;
}

h2 {
  display: inline-block;
  font-family: fantasy;
  background-color: pink;
  border: 4px solid lightcyan;
  border-radius: 15px;
  margin-top: 100px;
  padding: 15px;
}

form {
  display: grid;
  grid-template-columns: 1fr;;
  background-color: pink;
  border: 4px solid lightcyan;
  border-radius: 15px;
  gap: 5px;
  padding: 5px;
  width: 700px;
}

 .submit-button, .reset-button, .remove-button, .in-stock-button {
  font-family: fantasy;
  margin: 0 auto;
  display: inline-flex;
  background-color: lightcyan;
  width: 25%;
  justify-content: center;
  border: 2px solid lightcyan;
  border-radius: 7px;
  text-align: center;
}

.submit-button:hover, .reset-button:hover, .remove-button:hover {
  background-color: aquamarine;
}

input[type=number], input[type=text] {
  border: 2px solid lightcyan;
  border-radius: 7px;
  background-color: lightcyan;
  font-family: fantasy;
  text-align: center;
  width: 10%;
}

input[type=text] {
  width: 25%;
}

input[type=checkbox] {
  background-color: lightcyan;
}

select {
  background-color: lightcyan;
  font-family: fantasy;
  border: 2px solid lightcyan;
  border-radius: 7px;
  text-align: center;
  width: 25%;
}

ul {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

li {
  display: block;
  border: 4px solid lightcyan;
  background-color: pink;
  border-radius: 15px;
}

img {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: 5px;
}

.remove-button, .in-stock-button {
  display: block;
  margin-bottom: 5px;
  align-content: center;
  padding: 0;
}

.in-stock-button {
  background-color: aquamarine;
  padding-top: 5px;
}

span {
  color: red;
}

@media (max-width: 780px) {
  .goods ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .goods ul {
    grid-template-columns: 1fr;
  }
}